.content{
    display: flex;
    flex-flow: column;
}
.post-box{
    /*background-color: aliceblue;*/
    margin-top: 12px;
}
.post{
    display: inline-flex;
    flex-flow: column;
    border: 2px solid #ddd;
    padding: 8px;
    border-radius: 8px;
}
.post>*{
    margin: 0 0 8px 0;
}
.post>*:last-child{
    margin-bottom: 0;
}
img{
    border-radius: 8px;
}